.footer{
    width: 100%;
    display: none;
    position: fixed;
    bottom: 0;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px 0px;
    background-color: white;
}

.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8rem;
    color: #606060;
}

@media screen and (max-width: 600px) {
    .footer{
        display: flex;
    }
}