.recommended{
    width: 100%;
    display: flex;
    background-color: #f9f9f9;
    padding-top: 40px;
    padding-left: 3%;
}

.recommend__video{
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
    .recommended{
        padding-top: 0px;
        flex-direction: column;
        padding-left: 0;
    }   
}
